<!-- Example config.xml for builtin RTPS bridges -->

<rs>
	<bridge>
        <bridge_type>fastrtps</bridge_type>
		<subscriber>
			<participant>subscriber_participant_name</participant>
			<domain>subscriber_domain</domain>
			<topic>subscriber_topic_name</topic>
			<type>subscriber_type_name</type>
            <partition>subscriber_partition</partition>  <!-- optional -->
		</subscriber>
		<publisher>
			<participant>publisher_participant_name</participant>
			<domain>subscriber_domain</domain>
			<topic>publisher_topic_name</topic>
			<type>publisher_type_name</type>
            <partition>publisher_partition</partition>  <!-- optional -->
		</publisher>
        <transformation>/path/to/transformation/library</transformation> <!-- optional if transform is declared in bridge_library -->
        <bridge_library>/path/to/bridge/library</bridge_library> <!-- optional -->
	</bridge>
</rs>
