<?xml version="1.0"?>
<is>
	<bridge>
        <bridge_type>unidirectional</bridge_type>
		<subscriber>
			<participant>is_subscriber</participant>
			<domain>0</domain>
			<topic>TextPubSubTopic</topic>
			<type>Text</type>
		</subscriber>
		<publisher>
			<participant>is_publisher</participant>
			<domain>5</domain>
			<topic>TextPubSubTopic</topic>
			<type>Text</type>
		</publisher>
		<transformation></transformation>
	</bridge>
</is>
