<?xml version="1.0"?>
<is>
    <participant name="LocalShapes">
        <attributes>
            <domain>1</domain>
        </attributes>

        <subscriber name="subscriberSquare">
            <attributes>
				<topic>Square</topic>
				<type>ShapeType</type>
            </attributes>
        </subscriber>

        <subscriber name="subscriberTriangle">
            <attributes>
				<topic>Triangle</topic>
				<type>ShapeType</type>
            </attributes>
        </subscriber>

        <subscriber name="subscriberCircle">
            <attributes>
				<topic>Circle</topic>
				<type>ShapeType</type>
            </attributes>
        </subscriber>
<!--
        <publisher name="publisherSquare">
            <attributes>
				<topic>Square</topic>
				<type>ShapeType</type>
            </attributes>
        </publisher>

        <publisher name="publisherTriangle">
            <attributes>
				<topic>Triangle</topic>
				<type>ShapeType</type>
            </attributes>
        </publisher>

        <publisher name="publisherCircle">
            <attributes>
				<topic>Circle</topic>
				<type>ShapeType</type>
            </attributes>
        </publisher>
-->
    </participant>

    <participant name="TCPShapes">
        <attributes>
            <domain>3</domain>
            <!-- TODO TCP parameters 
            <protocol>tcp</protocol>
            <remoteAddesss>192.168.1.55</remoteAddesss>
            <remotePort>5100</remotePort>
            <listeningPort>0</listeningPort> <!-- Our port -->
            <!-- TODO Use default logical ports? Or specify them? -->
        </attributes>
<!--
        <subscriber name="subscriberSquare">
            <attributes>
				<topic>Square</topic>
				<type>ShapeType</type>
            </attributes>
        </subscriber>

        <subscriber name="subscriberTriangle">
            <attributes>
				<topic>Triangle</topic>
				<type>ShapeType</type>
            </attributes>
        </subscriber>

        <subscriber name="subscriberCircle">
            <attributes>
				<topic>Circle</topic>
				<type>ShapeType</type>
            </attributes>
        </subscriber>
-->
        <publisher name="publisherSquare">
            <attributes>
				<topic>Square</topic>
				<type>ShapeType</type>
            </attributes>
        </publisher>

        <publisher name="publisherTriangle">
            <attributes>
				<topic>Triangle</topic>
				<type>ShapeType</type>
            </attributes>
        </publisher>

        <publisher name="publisherCircle">
            <attributes>
				<topic>Circle</topic>
				<type>ShapeType</type>
            </attributes>
        </publisher>
    </participant>

    <connector name="Local_TCP_SQUARES"> 
        <subscriber participant_name="LocalShapes" subscriber_name="subscriberSquare"/>
        <publisher participant_name="TCPShapes" publisher_name="publisherSquare"/>
    </connector>

    <connector name="Local_TCP_TRIANGLES"> 
        <subscriber participant_name="LocalShapes" subscriber_name="subscriberTriangle"/>
        <publisher participant_name="TCPShapes" publisher_name="publisherTriangle"/>
    </connector>

    <connector name="Local_TCP_CIRCLES"> 
        <subscriber participant_name="LocalShapes" subscriber_name="subscriberCircle"/>
        <publisher participant_name="TCPShapes" publisher_name="publisherCircle"/>
    </connector>
<!--
    <connector name="TCP_Local_SQUARES"> 
        <subscriber participant_name="TCPShapes" subscriber_name="subscriberSquare"/>
        <publisher participant_name="LocalShapes" publisher_name="publisherSquare"/>
    </connector>

    <connector name="TCP_Local_TRIANGLES"> 
        <subscriber participant_name="TCPShapes" subscriber_name="subscriberTriangle"/>
        <publisher participant_name="LocalShapes" publisher_name="publisherTriangle"/>
    </connector>

    <connector name="TCP_Local_CIRCLES"> 
        <subscriber participant_name="TCPShapes" subscriber_name="subscriberCircle"/>
        <publisher participant_name="LocalShapes" publisher_name="publisherCircle"/>
    </connector>
-->
</is>
