
<is>
    <is_types>
        <type name="ShapeType">
            <library>libshapelib.so</library> <!-- Library for ShapeType -->
        </type>
        <type name="Unused type"/>
        <!-- Can be used to pack types or types without their own library -->
        <types_library>libotherlib.so</types_library>
    </is_types>

    <profiles>
        <participant profile_name="2Dshapes">
            <!-- RTPS participant attributes -->
        </participant>

        <participant profile_name="3Dshapes">
            <!-- RTPS participant attributes -->
        </participant>

        <subscriber profile_name="2d_subscriber">
            <!-- RTPS subscriber attributes -->
        </subscriber>

        <subscriber profile_name="3d_subscriber">
            <!-- RTPS subscriber attributes -->
        </subscriber>

        <publisher profile_name="2d_publisher">
            <!-- RTPS publisher attributes -->
        </publisher>

        <publisher profile_name="3d_publisher">
            <!-- RTPS publisher attributes -->
        </publisher>
    </profiles>

    <bridge name="protocol">
        <library>/path/to/bridge/library/libprotocol.so</library>
        <properties>
            <property>
                <name>property1</name>
                <value>value1</value>
            </property>
        </properties>

        <writer name="protocol_publisher">
            <property>
                <name>property1</name>
                <value>value1</value>
            </property>
            <property>
                <name>property2</name>
                <value>value2</value>
            </property>
        </writer>

        <reader name="protocol_subscriber">
            <property>
                <name>property1</name>
                <value>value1</value>
            </property>
            <property>
                <name>property2</name>
                <value>value2</value>
            </property>
        </reader>
    </bridge>

    <connector name="shapes_projection">
    <reader participant_profile="3Dshapes" subscriber_profile="3d_subscriber"/>
    <writer participant_profile="2Dshapes" publisher_profile="2d_publisher"/>
    <transformation file="/path/to/transform/libuserlib.so" function="transform3D_to_2D"/>
    </connector>

    <connector name="shapes_stereo">
    <reader participant_profile="2Dshapes" subscriber_profile="2d_subscriber"/>
    <writer participant_profile="3Dshapes" publisher_profile="3d_publisher"/>
    <transformation file="/path/to/transform/libuserlib.so" function="transform2D_to_3D"/>
    </connector>

    <connector name="shapes_protocol">
    <reader participant_profile="2Dshapes" subscriber_profile="2d_subscriber"/>
    <writer bridge_name="protocol" writer_name="protocol_publisher"/>
    <transformation file="/path/to/transform/libprotocoltransf.so" function="transformFrom2D"/>
    </connector>

    <connector name="protocol_shapes">
    <reader bridge_name="protocol" reader_name="protocol_subscriber"/>
    <writer participant_profile="2Dshapes" publisher_profile="2d_publisher"/>
    <transformation file="/path/to/transform/libprotocoltransf.so" function="transformTo2D"/>
    </connector>
</is>
